* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background: linear-gradient(#020617);
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    color: #fff;
    position: absolute;
    bottom: 60px;
    font-size: 30px;
    background-color: blue;
    padding: 5px 20px;
    border-radius: 5px;
  }

  .card-bottom {
    height: 350px;
    width: 300px;
    background-color: #045eb9;
    border-radius: 5px;
    position: absolute;
  }
  .card-top {
    position: fixed;
    height: 300px;
    width: 350px;
    background-color: #011046;
    border-radius: 5px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      i {
        color: blue;
        font-size: 18px;
      }
      button {
        padding: 5px 25px;
        font-weight: 900;
        font-size: 18px;
        background-color: Blue;
        border: none;
      }

      .restart {
        background-color: transparent;
        border: 2px solid blue;
      }
    }
  }
}
