* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html, body {
  height: 100%;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;



    
    
     
 h1{
  padding: 20px 30px;
  background-color: grey;
  border-radius: 10px;
   

 }
}