* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html, body {
  height: 100%;
  width: 100%;
}

main{
width: 100%;
height: 100%;
background-color: #000;
display: flex;
align-items: center;
justify-content: space-around;
 
 
.card{
  width: 300px;
  height: 400px;
  background-color: #fff;
   border-radius: 10px;
   padding: 10px;

   img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
   }
 h1{
  text-align: center;
  padding: 10px 0px;
 }

 h3{
  text-align: center;

 }
  
}

}