* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    h1{
        font-size: 150px;
    }

    .cursor{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        transform: translate(-50%,-50%);
        cursor: none;
        mix-blend-mode: difference;
    }
}