*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    
}
 img{
       
        width: 300px;
        height: 400px;
        object-fit: cover;
        padding: 10px;
        background-color: #fff;
        border-radius: 10px;
    }
 

button{
    padding: 20px 30px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-family: monospace;
    font-weight: 600;
}
button:active{
    scale: 0.95;
}

 
 